.header {
  padding: 15px 0;
  background-color: rgba(#1c1d1f, .8);
  box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.25);
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__input {
    font-family: "Rubik", sans-serif;
    font-size: 15px;
    background-color: transparent;
    padding: 12px 40px 12px 20px;
    background: #1b1e1e;
    border: 2px solid #252a2c;
    border-radius: 93px;
    width: 220px;
    transition: all 0.2s;
    color: #fff;
    &:focus {
      outline: transparent;
      border: 2px solid rgb(149, 149, 149);
      width: 350px;
    }
    &-inner {
      position: relative;
    }
    &-svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 19px;
      width: 19px;
      right: 5px;
      padding: 15px;
      box-sizing: content-box;
      cursor: pointer;
      path {
        fill: #fff;
      }
    }
  }
  &__logo {
    padding: 10px;
    &-title {
      display: table;
      font-family: "Rubik", sans-serif;
      font-size: 20px;
      line-height: 24px;
      color: #fff;
      padding-right: 25px;
      position: relative;
      white-space: nowrap;
      &::before {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background-color: red;
        animation: bounce infinite 2s;
      }
    }
  }
}

@keyframes bounce {
  from {
    background-color: red;
  }
  50% {
    background-color: transparent;
  }
  to {
    background-color: red;
  }
}
@media (max-width: 550px) {
  .header {
    &__input {
      &:focus {
        outline: transparent;
        border: 2px solid rgb(149, 149, 149);
        width: 220px;
      }
    }
  }
}
@media (max-width: 420px) {
  .header {
    &__logo {
      &-title {
        white-space: normal;
      }
    }
    &__input {
      &-inner {
        position: static;
      }
      &-mob {
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        width: 50%;
        margin: 0 auto;
        z-index: 2;
        box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.25);
        opacity: 0;
        visibility: hidden;
        &--visible {
          top: 90px;
          opacity: 1;
          visibility: visible;
        }
      }
      &-svg {
        position: absolute;
        top: 35px;
        right: 15px;
        height: 21px;
        width: 21px;
        padding: 15px;
      }
    }
  }
}
