.topInput {
  position: absolute;
  top: 20px;
  right: 40px;
  z-index: 10;
  max-width: 400px;
  width: 100%;
  transition: all .2s;
  &-static{
    top: 20px;
  }
  &__wrapper {
    background-color: #1c1d1f;
    box-shadow: 0px 0px 30px rgb(0 0 0 / 25%);
    border-radius: 8px;
    padding: 15px;
    transition: all .2s;
    &-non {
      font-family: "Rubik", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #fff;
      display: flex;
      justify-content: center;
    }
  }
  &__link {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    padding: 5px 2px;
    display: inline-block;
  }
  &__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 12px;
  }
  &__count {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #81becb;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 30px;
    height: 30px;
    padding-top: 3px;
    svg {
      position: absolute;
      top: 50% - 50%;
      left: 0;
      height: 30px;
      width: 30px;
    }
  }
  &__btn {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #81becb;
    padding: 0 1px;
    transition: all 0.1s;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    &:hover {
      border-bottom: 1px solid #81becb;
    }
    &--dis {
      color: #323232;
      cursor: no-drop;
      &:hover {
        border-bottom: 1px solid transparent;
      }
    }
  }
}

@media (max-width: 600px) {
  .topInput {
    right: 15px;
    &-static{
      top: 20px;
    }
  }
}
@media (max-width: 460px) {
  .topInput {
    top: 10px;
    right: 25px;
    left: 25px;
    max-width: auto;
    width: auto;
    &-static{
      top: 10px;
    }
  }
}
@media (max-width: 420px) {
  .topInput {
    top: 76px;
    right: 20px;
    left: 20px;
    max-width: auto;
    width: auto;
    &-static{
      top: 10px;
    }
    &__wrapper {
      top: 80px;
      padding: 10px;
    }
  }
}
@media (max-width: 375px) {
  .topInput {
    right: 0;
    left: 0;
    &-static{
      top: 10px;
    }
  }
}
