.topslider {
  margin-top: 30px;
  border-radius: 4px;
  position: relative;
  &__img {
    height: 446px;
    object-fit: cover;
    width: 100%;
  }
  &__title {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
    font-size: 65px;
    line-height: 67px;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
  }
}
