.topslider {
  border-radius: 4px;
  position: relative;
  &__img {
    object-fit: cover;
    width: 100%;
  }
  &__title {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
    font-size: 65px;
    line-height: 67px;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
  }
  .swiper-slide{
    width: 100% !important;
  }
}

@media (max-width: 768px) {
  .topslider{
    &__img{
      min-height: 200px;
    }
  }
}
@media (max-width: 550px){
  .topslider{
    &__title{
      font-size: 40px;
      line-height: 46px;
    }
  }
}
